@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.main-section {
  background-color: #000;
  height: 300px;
}

.bg-black {
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.font-stroke {
  display: flex;
  justify-content: center;
  color: rgb(246, 211, 11);
  /* text-shadow to simulate text outline to allow justification against high contrast areas of hero image */
  text-shadow: -2px 0 1px #fff, 0 2px 1px #fff, 2px 0 1px #fff, 0 -2px 1px #fff;
  letter-spacing: 5px;
}

h1 {
  margin: 20px 0;
}

.parg1,
.parg2 {
  color: #ca2d51;
  font-size: 40px;
  font-weight: bold;
}

.parg2,
.parg3 {
  color: #000;
}

.parg3 {
  font-size: 35px;
  font-weight: 500;
}

ul li {
  color: #fff;
  font-size: 38px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

svg {
  height: 40px;
  width: 40px;
  color: #ca2d51;
  margin-left: 20px;
}

/* ////////////////// */
.section2 img {
  border-top: 3px solid;
  border-left: 3px solid;
  box-shadow: 0 5px 10px -5px #ada5a5
}

.box {
  border: 3px solid;
}

.card {
  border: 3px solid rgba(0, 0, 0);
  border-radius: 1.25rem;
  padding: 15px;
}

.card p {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
  color: #ca2d51;
}


/* //////////////////// */
.section3 {
  color: #fff;
}

h2 {
  font-size: 45px;
}

.line {
  margin-top: 30px;
  display: flex;
  font-size: 40px;
  color: #ca2d51;
}

.line:before,
.line:after {
  color: white;
  content: '';
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.25rem;
  box-shadow: 0 -2px;
}

.cont-img {
  height: 600px;
}

.cont-img img {
  object-fit: contain;
}

.box-c {
  border: 3px solid #ca2d51;
  transform: rotate(-5deg);
}

.box-c .box-inner {
  transform: rotate(5deg);
}

.box-inner p {
  font-size: 30px;
  color: #fff;
  margin: 0;
}

input,
.btn {
  width: 100%;
  border: 3px solid #ca2d51;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ca2d51;
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width:768px) {
  .main-section {
    height: 150px;
  }

  .parg1 {
    padding: 0 15px;
  }

  .parg1,
  h1,
  .parg2 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 15px;
  }

  ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }

  svg {
    height: 30px;
    width: 30px;
    margin-left: 15px;
  }

  .parg3 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
    line-height: 2;
  }

  h2,
  .line {
    font-size: 25px;
  }

  .box .parg3 {
    font-size: 15px;
  }

  .card {
    padding: 10px;
  }

  .cont-img {
    height: 350px;
    margin: 0 0 20px 0;
  }

  .box-inner p {
    font-size: 17px;
  }

  .btn {
    font-size: 20px;
  }

  .last {
    font-size: 14px !important;
  }
}